<div class="file-instructions">
    <!--<p>You will need the file url's to request that the site remove the content via this form: <a-->
            <!--href="https://www.coursehero.com/copyright-infringement/">https://www.coursehero.com/copyright-infringement/</a>-->
    <!--</p>-->
<h1>Uploaded files associated with the selected courses</h1>
    <p>The following are urls of files which have been uploaded for the selected courses.  that the url's this tool returns are simply all the files uploaded for the selected courses.</p>

    <p><b><i>You must review each file to determine that it infringes your rights. </i><br/>

        Students may have uploaded their own intellectual property related to your course. You may infringe their
        rights if try to remove their intellectual property.</b> <br/>
    (This is a good time to remind you to make sure you understand your rights and responsibilities under the DCMA and other applicable law/policy/terms of service before proceeding with a takedown request.)</p>

    <p>To review each document, click on the url (it will open a partial view of the document on the CourseHero website in a new window/tab). If you believe it infringes your copyright, click the corresponding button on the right to add it to the list of files you want to report.</p>

    <p></p>
    <p></p>
    <p></p>
</div>