<div class="takedown-instructions">
    <h1>Request removal of infringing material</h1>

    <p>CourseHero requests that you use their online form to request that infringing materials be removed. The
        instructions and form are located here: <a href="https://www.coursehero.com/copyright-infringement/">https://www.coursehero.com/copyright-infringement/</a>
    </p>

    <p>Here are the names of the files (as provided by the person uploading the file) and the corresponding urls (to facilitate copying and pasting, they are not clickable).</p>

    <blockquote>
    {url_list}
    </blockquote>

    <p>The site also provides the alternative of emailing or faxing a removal request letter to DMCA@coursehero.com.
        Make sure to read their instructions at <a href="https://www.coursehero.com/copyright-infringement/">https://www.coursehero.com/copyright-infringement/</a>
    </p>

    <p>According to the internet (remember: I'm not a lawyer; don't rely on me), the DMCA requires such requests to
        include certain information. If you would like to make the request via email, click the button below to create a
        rough draft based on some online template letters (again: Not. a. lawyer.) which you can edit and send. </p>

    <!--To file a DMCA takedown request, please complete the Copyright Infringement Notification form below.-->

    <!--You will need to identify the infringing work(s) by providing the specific identification and location of the infringing work(s), including its URL or URLs on Course Hero. Each URL should be in the following format: https://www.coursehero.com/file/xxxx/...-->

    <!--Once you submit a complete takedown request using our Copyright Infringement Notification form, our DMCA Compliance Team will quickly take action to remove the infringing content. You will be notified once the content has been removed.-->

    <!--We are dedicated to helping copyright holders protect their work. As an an alternative to completing this form, you can email or fax your DMCA notification to DMCA@coursehero.com. If you have any questions or need assistance in completing your takedown request, please contact us at DMCA@coursehero.com.-->

</div>