<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h1>Copy the following into an email and send it to  DMCA@coursehero.com</h1>

<p> {letter_date} </p>

<p>To Whom It May Concern,</p>

<p>The following information serves to assert my rights and request removal of allegedly infringing web content under the Digital Millennium Copyright Act (DMCA). The following is a report, in good faith, of alleged copyright infringement. I am contacting you as the designated agent for the site upon which the infringing work currently appears. This letter is a Notice of Infringement as authorized in §512(c) of the U.S. Copyright Law.</p>

<p>I am the copyright owner of the works and the following is true and accurate.</p>

<p>1. The original work, for which I claim copyright, is distributed by me to my students for their sole individual use:</p>
[Description of docs?]

<p>2. Copies of my original copyrighted work are attached to assist you in your evaluation and determination.</p>

<p>3. The allegedly infringing work appears at the following location(s) on the Course Hero website:</p>

    {doc_urls}

<p>4. My contact information, as copyright holder, is as follows:</p>
<blockquote>
    <p>
        {name} <br/>
        {address} <br/>
        {email}
    </p>
</blockquote>

<p>6. I have a good faith belief the use of the above reference copyrighted work(s) that appears on the website for which you are the designated DMCA agent is not authorized by the copyright owner, its agent, or by law.</p>

<p>I declare, under penalty of perjury, this notice is true and correct and that I am the copyright owner entitled to exclusive rights which I allege are being infringed.</p>

<p>Sincerely,<br/>
/s/ {name}
</p>

<p></p>
</body>
</html>